<!-- Applying an attribute directive -->
<!-- <p appHighlight>Highlight me!</p> -->

<!-- 2nd Method -->
<!-- Passing values into an attribute directive -->
<!-- <p [appHighlight]="color">Highlight me!</p> -->

<!-- 3rd Method -->
<!-- Setting the value with user input -->
<h1>My First Attribute Directive</h1>

<h2>Pick a highlight color</h2>
<div>
  <input type="radio" name="colors" (click)="color='lightgreen'">Green
  <input type="radio" name="colors" (click)="color='yellow'">Yellow
  <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p [appHighlight]="color">Highlight me!</p>
<p [appHighlight]="color" defaultColor="violet">
  Highlight me too!
</p>